@model UserEntity

<link rel="stylesheet" href="/css/rating.css"/>
<link rel="stylesheet" href="/css/product_list.css">

<div class="container-fluid">
    
<div class="row align-items-center">
    <div class="col-6">
        <h2 class="fs-1">Your Products</h2>
    </div>
    <div class="col-6 text-end">
        <a class="btn btn-success" asp-controller="Farmer" asp-action="Create">
            <i class="bi bi-plus-square"></i> Add New Product
        </a>
        <a class="btn btn-primary ms-2" asp-controller="Farmer" asp-action="CreateHarvest">
            <i class="bi bi-plus-circle"></i> Add New Harvests
        </a>
    </div>
</div>


<div class="container-fluid">
    @foreach (var product in Model.CreatedProducts)
    {
        <div class="row align-items-center border rounded my-1 p-2 product-list-item">
            <!-- Image Column -->
            <div class="col-12 col-md-2 text-center rounded product-image-wrap">
                <img src="@product.ImgUrl" alt="Product image" class="img-fluid rounded product-image">
            </div>

            <!-- Attributes Column -->
            <div class="col-12 col-md-8">
                <a class="text-decoration-none"
                   asp-controller="Products"
                   asp-action="Product"
                   asp-route-id="@product.Id">
                    @product.Name
                </a>
                <div class="row">
                    @foreach (var attr in product.Attributes)
                    {
                        <div class="col-6">
                            <strong>@attr.Attribute.Name:</strong> 
                            <span>@attr.Value</span>
                        </div>
                    }
                    <div class="rating">
                        <div class="rating__body">
                            <div class="rating__active"></div>
                            <div class="rating__items">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <input type="radio" 
                                           value="@i" 
                                           name="rating" 
                                           class="rating__item">
                                }
                            </div>
                        </div>
                        <div class="rating__value">
                            @(
                            product.Orders.Count > 0 
                                ? string.Format(System.Globalization.CultureInfo.InvariantCulture, 
                                    "{0:0.0}",
                                    product.Orders.Select(c => c.Rating).Sum() / product.Orders.Count)
                                : "No reviews"
                            )
                            
                        </div>
                        @if (product.Orders.Count > 0)
                        {
                            <div class="fs-6 m-lg-1">
                                (@product.Orders.Count)
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-2 text-center">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
            </div>
        </div>
    }
</div>
</div>

<script >
    @if (TempData["message"] != null)
    {
        <text>
            Toastify({
                text: @TempData["message"],
                duration: 3000,
                gravity: "top",
                position: "center",
                backgroundColor: "green",
                stopOnFocus: true
            }).showToast();
        </text>
    }
</script>

<script src="/js/rating.js"></script>