@using GreenMarket.Filters
@model ProductViewModel

<link rel="stylesheet" href="/css/rating.css"/>
<link rel="stylesheet" href="/css/product_list.css">

<div class="d-flex align-items-center mb-3">
    <!-- Navigational links -->
    @foreach (var parent in Model.ParentList)
    {
        <a asp-action="Categories" asp-route-id="@parent.Id" class="me-2">
            @parent.Name
        </a>
        @if (parent != Model.ParentList.Last())
        {
            <i class="bi bi-arrow-right-short me-2"></i>
        }
    }

    <!-- Filter -->
    <div class="ms-auto">
        <select class="form-select form-select-sm" onchange="applyFilter(this.value)">
            <option value=@ProductsFilter.Default>Filter by</option>
            <option value=@ProductsFilter.PriceAsc>Price: Low to High</option>
            <option value=@ProductsFilter.PriceDesc>Price: High to Low</option>
            <option value=@ProductsFilter.RatingAsc>Rating: Low to High</option>
            <option value=@ProductsFilter.RatingDesc>Rating: High to Low</option>
        </select>
    </div>
</div>
<div class="container-fluid">
    @foreach (var product in Model.Products)
    {
        <div class="row align-items-center border rounded my-1 p-2 product-list-item">
            <!-- Image Column -->
            <div class="col-12 col-md-2 text-center rounded product-image-wrap">
                <img src="@product.ImgUrl" alt="Product image" class="img-fluid rounded product-image">
            </div>

            <!-- Attributes Column -->
            <div class="col-12 col-md-8">
                <h5>
                    <!-- Product Name and "By" -->
                    <span class="text-primary">@product.Name</span>
                    <span class="text-muted">placed by</span>
                    <a asp-controller="AllFarmers" asp-action="Farmer"
                       asp-route-id="@product.CreatorId" 
                       class="text-success text-decoration-none">
                        @product.Creator.Name
                    </a>
                </h5>
                <div class="row">
                    @foreach (var attr in product.Attributes)
                    {
                        <div class="col-6">
                            <strong>@attr.Attribute.Name:</strong> 
                            <span>@attr.Value</span>
                        </div>
                    }
                    <div class="rating">
                        <div class="rating__body">
                            <div class="rating__active"></div>
                            <div class="rating__items">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <input type="radio" 
                                           value="@i" 
                                           name="rating" 
                                           class="rating__item">
                                }
                            </div>
                        </div>
                        <div class="rating__value">
                            @(
                            product.Orders.Count > 0 
                                ? string.Format(System.Globalization.CultureInfo.InvariantCulture, 
                                    "{0:0.0}",
                                    product.Orders.Select(c => c.Rating).Sum() / product.Orders.Count)
                                : "No reviews"
                            )
                            
                        </div>
                        @if (product.Orders.Count > 0)
                        {
                            <div class="fs-6 m-lg-1">
                                (@product.Orders.Count)
                            </div>
                        }
                    </div>
                </div>
            </div>

            <!-- Order Button Column -->
            <div class="col-12 col-md-2 text-center">
                <a class="btn btn-primary" asp-action="Product" asp-route-id="@product.Id">See Details</a>
            </div>
        </div>
    }
</div>

<script src="/js/rating.js"></script>
<script src="/js/filter.js"></script>