@model ProductEntity

@{
    var pronoun = Model.Customers.Count != 1 ? "Customer" : "Customers";
}

<link rel="stylesheet" href="/css/product_detail.css">

<div class="product-page-container">
    <div class="product-container rounded">
        <div class="product-image">
            <!-- ADD SRC FROM MODEL src=""-->
            <img src="@Model.ImgUrl" alt="Product Image">
            
            <div class="product-order">
                <p>@Model.Customers.Count @pronoun already bought this product</p>
                <a class="btn btn-primary" asp-action="Order" asp-route-id="@Model.Id">ORDER</a>
            </div>
        </div>
        <div class="product-details">
            <!-- This is a variety name -->
            <h1>@Model.Name</h1>
            <!-- I also need product name -->
            <p><strong>In Stock</strong>: xxx pieces</p>
            <!--
            <p><strong>Price</strong>: xxx per piece</p>
            <p><strong>Origin</strong>: xxx</p>
            -->
            @foreach (var attr in Model.Attributes) {
                <p><strong>@attr.Attribute.Name</strong>: @attr.Value</p>
            }
            <p><strong>Description</strong>: @Model.Description</p>
        </div>
    </div>
</div>